Deployment/www.fonllow.com.demo.RealWorldService.2012.08.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fonllow.com/demo/RealWorldService/2012/08" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.fonllow.com/demo/RealWorldService/2012/08" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.fonllow.com/demo/RealWorldService/2012/08/Imports">
      <xsd:import namespace="http://www.fonllow.com/demo/RealWorldService/2012/08" />
      <xsd:import namespace="http://www.fonllow.com/demo/RealWorldService/Data/2012/08" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_Evil666ErrorFault_FaultMessage">
    <wsdl:part name="detail" xmlns:q1="http://www.fonllow.com/demo/RealWorldService/Data/2012/08" element="q1:Evil666Error" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHardData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHardData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHardData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHardDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetDataEvil666ErrorFault" name="Evil666ErrorFault" message="tns:IService1_GetData_Evil666ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHardData">
      <wsdl:input wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetHardData" message="tns:IService1_GetHardData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetHardDataResponse" message="tns:IService1_GetHardData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Evil666ErrorFault">
        <soap:fault name="Evil666ErrorFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHardData">
      <soap:operation soapAction="http://www.fonllow.com/demo/RealWorldService/2012/08/IService1/GetHardData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>